body {
  font-family: "Lora","open sans","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  margin: 0;
  min-height: 100vh;
}

/********** Navigation ************/
#logo {
  height: 60px;
}

#background-image {
    opacity: .4;
    position: fixed;
    z-index: -1;
}

#navigation-container {
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.90);
  z-index: 1;
  top: 0;
}

.right-nav-container {
  float: right;
  margin: 25px;
}

.left-nav-container {
  float: left;
  margin: 10px 0 1px 10px;
}

.nav-link {
  color: green;
  font-size: 15px;
  text-align: right;
  padding: 0px 10px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

/********** body index.html ************/

#welcome-message-container {
  display: inline-block;
  margin-top: 50px;
  padding: 25px;
}

.welcome-quote {
  text-align: center;
  color: green;
  font-size: 50px;
  margin: 45px 0px 45px;
}

.welcome-message {
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: black;
  margin: 5px;
}

#what-to-do {
  background-color: #c78262;
  padding-bottom: 5px;
  width: 75%;
  margin: auto;
  border-radius: 3px;
}

#what-to-do > p {
  padding: 25px 0px 0px 25px;
  font-size: 19px;
}

#welcome-list {
  font-size: 15px;
  color: black;
  list-style-type: none;
  margin: 8px 0px 20px;
  padding: 5px;
}

#welcome-list >li {
  list-style-type: none;
  padding: 10px 15px;
}

#profile-forms-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.80);
  padding: 50px 35px 100px;
  margin-top: 50px;
}

#new-user, #existingUser {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
}

/********** body  results.html ************/

#page-display-container {
  display: inline-block;
  margin: 90px 20px;
  padding: 25px;
  background-color: white;
}

#form-container {
background-color: #FFCF9E;
}

#search-loc, #search-data, .search-button {
  border: 1px solid black
}

#search-results-card {
  margin-top: 25px;
}

h5, h6 {
  margin: 0;
}
