body {
  font-family: 'Nunito', serif;
  min-height: 100vh;
  margin: 0;
}

.hidden {
  display: none;
}

/********** Navigation ************/
#logo {
  height: 60px;
}

.background-image {
  opacity: .4;
  position: fixed;
  z-index: -1;
}

.navigation-container {
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255);
  /* background-color: rgba(255,255,255,0.90); */
  /* z-index: 1; */
  top: 0;
}

.right-nav-container {
  float: right;
  margin: 30px 15px 15px;
}

.left-nav-container {
  float: left;
  margin: 10px 0 1px 10px;
}

.nav-link {
  color: green;
  font-size: 15px;
  text-align: right;
  padding: 0px 10px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: green;
}

/********** index.html ************/

#welcome-message-container {
  margin-top: 50px;
  padding: 25px;
}

.welcome-quote {
  text-align: center;
  color: green;
  font-size: 40px;
  margin: 45px 0px 45px;
  font-weight: bold;
}

.welcome-message {
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: black;
  margin: 5px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

#what-to-do {
  background-color: #c78262;
  padding-bottom: 5px;
  width: 75%;
  margin: auto;
  border-radius: 3px;
  text-align: center;
}

#what-to-do > p {
  padding-top: 25px;
  font-size: 19px;
}

#welcome-list {
  font-size: 15px;
  color: black;
  list-style-type: none;
  margin: 8px 0px 20px;
  padding: 5px;
}

#welcome-list >li {
  list-style-type: none;
  padding: 10px 15px;
}

#profile-forms-container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255,255,255,0.80);
  padding: 50px 35px 100px;
  margin-top: 50px;
}

#login-user {
  width: 85%;
}

#profile-buttons-container {
  margin: 15px 0px;
}

#user-info {
  border-radius: 4px;
  padding: 15px;
}

#user-info p {
  text-align: center;
  margin-bottom: 15px;
}

#user-info input {
  /* background-color: #E8E8E8; */
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  font-size: 15px;
  margin: 4px auto;
}

#new-user, #existing-user, #create-profile-button, .search-button, .submit-button, .create-post-button, .edit-button, .delete-button, #edit-swap-button  {
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
  display: block;
  margin: 0 auto;
  padding: 4px 10px;
}

.login-error-message {
  width: 100%;
  color: red;
  text-align: center;
  padding: 25px;
}

.new-form-fields {
  margin: 5px;
  width: 90%;
  clear: both;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  font-size: 13px;
}

/* needs to be set like this to stay centered with other settings */
#create-profile-button {
  margin-top: 10px;
  margin-bottom: 10px;
}
.create-account-success-message {
  text-align: center;
}

/********** results.html ************/

#page-display-container, #page-display-container-2  {
  display: inline-block;
  margin: 90px 20px;
  padding: 25px;
  background-color: white;
}

/* #form-container {
background-color: #FFCF9E;
} */

#search-selection {
  margin-bottom: -15px;
  text-align: center;
}

#search-selection label {
  margin-right: 15px;
}

#search-details {
  margin-top: 15px;
}

#search-details label {
  margin-top: 10px;
  display: inline-block;
}

#search-loc, #search-data {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  font-size: 15px;
  margin: 5px 0px;
  padding: 4px;
  width: 100%;
}

#search-data::placeholder , #search-loc::placeholder {
  color: #C8C8C8;
  font-size: 12px;
}

.search-button {
    margin: 20px auto;
}

.search-results-card {
  margin-top: 25px;
}

h5, h6 {
  margin: 0;
}

#no-data-error {
  text-align: center;
}

/********** createPost.html ************/

/* #page-display-container-2 {
  display: inline-block;
  margin: 90px 20px;
  padding: 25px;
  background-color: white;
} */

#no-posts-message {
  margin-right: 40px;
}

#swap-posting-have, #swap-posting-want, #edit-swap-posting-have, #edit-swap-posting-want {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  font-size: 15px;
  margin: 15px 0 5px;
  padding: 8px;
  width: 90%;
  resize: none; /* removes corner dashes */
}

/* need to set a margin on the label still */

#swap-posting-have::placeholder , #swap-posting-want::placeholder {
  color: #C8C8C8;
  font-size: 12px;
  padding: 5px;
}

#create-post-form label {
  margin: 10px;
}

#create-post-form textarea {
  margin: 8px;
}

.create-post-button {
  margin: 20px auto;
}

#create-post-sucess-message, #create-post-error-message {
  font-size: 20x;
  color: green;
  font-weight: bold;
  text-align: center;
}

#create-post-error-message {
  color: red;
}

#user-post-listing-container {
  text-align: center;
  /* width: 75% */
}

#user-post-listing-container h2 {
    margin-top: 65px;
}

.individual-list-card {
  margin-bottom: 25px;
}

.active-swap-listing {
  list-style-type: none;
  color: orange;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-button, .delete-button {
 display: inline-block;
 margin: 10px;
 font-size: 12px;
}

.popup-overlay {
visibility:hidden;
/* text-align: center; */
}

.popup-content {
visibility:hidden;
}

.popup-overlay.active{
visibility:visible;
}

.popup-content.active {
visibility:visible;
}

#active-swap-list {
  text-align: center;
}

#edit-post-form {
  width: 85%;
  margin: 10px;
}
